<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">


<div class="bg-success p-2 text-white container mt-4">
  <div class="header">
    <h1>API usando Sails</h1>
    <h3>Rutas creadas</h3>
    <ul class="list-group">
      <a href="/productos" class="link-primary"><li class="list-group-item">/productos </li></a>
      <a href="/usuarios" class="link-primary"><li class="list-group-item">/usuarios</li></a>
      <a href="/carrito" class="link-primary"><li class="list-group-item">/carrito</li></a>
    </ul>
</div>

